<section id="item"></section>

<!-------------------- パンくずリスト ------------------------>
<nav>
  <ol class="breadcrumbs">
    <li>
      <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/home.svg" alt=""></a>
    </li>
    {% for collection in product.collections %}
      {% assign excluded_collections = 'recommend' | split: ',' %}
      {% unless excluded_collections contains collection.handle %}
        <li>
          <a href="{{ collection.url }}">{{ collection.title }}</a>
        </li>
      {% endunless %}
    {% endfor %}
    <li>{{ product.title }}</li>
  </ol>
</nav>

<!-------------------- 商品詳細 ------------------------>
<section id="item-details">
  <div class="section_inner">
    <div class="p-merchandise-detail">
      <div class="p-merchandise__img-content">
        <div class="p-merchandise__img-wrapper">
          <div class="swiper">
            <div class="swiper-wrapper">
              {% for image in product.images %}
                <div class="swiper-slide">
                  <div class="p-img-wrapper">
                    <img src="{{ image.src | img_url: 'master' }}" alt="">
                  </div>
                </div>
              {%- endfor -%}
            </div>
          </div>
          <!-- /.swiper -->
          <div class="thumb-list">
            {% for image in product.images %}
              <div class="thumb-item">
                <a
                  class="thumb-link"
                  href="javascript:void(0);"
                  onclick="thumbnail({{ forloop.index }})">
                  <img src="{{ image.src | img_url: 'master' }}" alt="">
                </a>
              </div>
            {%- endfor -%}
          </div>
        </div>
        <!-- /.p-merchandise__img-wrapper -->
      </div>
      <div class="p-merchandise__detail-content">
        <p class="c-code">
          {% assign current_variant = product.selected_or_first_available_variant %}
          商品コード：{{ current_variant.sku }}
        </p>
        <ul class="c-category__list">
          {% for collection in product.collections %}
            {% assign excluded_collections = 'recommend' | split: ',' %}
            {% unless excluded_collections contains collection.handle %}
              <li class="c-category__item">
                商品カテゴリ：{{ collection.title }}
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
        <!-- /.c-category -->
        <h1 class="c-merchandise__name">{{ product.title }}</h1>
        {% if product.compare_at_price_max and product.compare_at_price_max > product.price %}
          <p class="c-price">{{ product.compare_at_price_max | money_with_currency }}（税込）
          </p>
          <p class="c-price" style="color: #f00;">割引価格：{{ product.price | money_with_currency }}（税込）
          </p>
        {% else %}
          <p class="c-price">{{ product.price | money_with_currency }}（税込）
          </p>
        {% endif %}
        {% comment %} <p class="c-price">{{ product.price | money_with_currency }}（税込）</p> {% endcomment %}
        <table class="p-merchandise__infomation">
          <tr>
            {% if product.metafields.custom._maker != empty %}
              <th>作り手</th>
              <td>{{ product.metafields.custom._maker }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if product.metafields.custom._capacity != empty %}
              <th>内容量</th>
              <td>{{ product.metafields.custom._capacity }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if product.metafields.custom._materials != empty %}
              <th>原材料名</th>
              <td>{{ product.metafields.custom._materials }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if product.metafields.custom._bestbefore != empty %}
              <th>賞味期限</th>
              <td>{{ product.metafields.custom._bestbefore }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if product.metafields.custom._keep != empty %}
              <th>保存方法</th>
              <td>{{ product.metafields.custom._keep }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if product.metafields.custom._delivery != empty %}
              <th>配送方法</th>
              <td>{{ product.metafields.custom._delivery }}</td>
            {% endif %}
          </tr>
        </table>
        <dl class="p-txt-block">
          <dt class="p-block__ttl">商品特徴</dt>
          <dd class="p-block__inner">
            <p>
              {{ product.content }}
            </p>
          </dd>
        </dl>
        <dl class="p-txt-block">
          {% if product.metafields.custom._use != empty %}
            <dt class="p-block__ttl">使用方法</dt>
            <dd class="p-block__inner">
              <p>
                {{ product.metafields.custom._use }}
              </p>
            </dd>
          {% endif %}
        </dl>
        <dl class="p-txt-block">
          {% if product.metafields.custom._allergen != empty %}
            <dt class="p-block__ttl">アレルゲン情報</dt>
            <dd class="p-block__inner">
              <p>
                {{ product.metafields.custom._allergen }}
              </p>
            </dd>
          {% endif %}
        </dl>
        <div class="p-count">
          <form
            method="post"
            action="/cart/add"
            id="AddToCartForm">
            <input
              type="hidden"
              name="id"
              value="{{ product.variants[0].id }}" />
            <p class="c-ttl">数量</p>
            <div class="p-select-wrapper">
              <select
                id="quantity"
                name="quantity"
                class="product-form__quantity">
                {% for i in (1..10) %}
                  <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
              <!-- /# -->
            </div>
            <!-- /.p-select-wrapper -->
            <div class="p-btn-wrapper">
              <button type="submit" class="c-btn">カートに入れる</button>
            </div>
            <!-- /.p-btn-wrapper -->
          </form>

        </div>
        <!-- /.p-count -->
        <a href="/pages/form" class="c-txt-inquiry">この商品について問い合わせる</a>
      </div>
    </div>
    <!-- /.p-merchandise-detail -->
  </div>
</section>

{% comment %} <div class="kazari"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/kazari_02.svg" alt=""></div> {% endcomment %}


{% schema %}
  {
    "name": "item-detail",
    "presets": [
      {
        "name": "item-detail"
      }
    ]
  }
{% endschema %}